.button {
    -fx-background-color: none;
    -fx-border-width: 0;
}

#applicationWindowAnchorPane {
    -fx-background-color: #f5f5f0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #cccccc;
}

#mainAnchorPane {
    /*-fx-background-color: red;*/
    -fx-border-width: 2;
    -fx-border-color: #cccccc;
}

.split-pane {
    -fx-background-color: #f9f9f9;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 0;
}

.toggle-button {
    -fx-cursor: hand;
}

.tab-pane {
    -fx-border-width: 1;
    -fx-border-color: #cccccc;
}

#resizeImage {
    -fx-cursor: nw-resize;
}

#usernameLabel {
    -fx-text-fill: #7d7d7d;
    -fx-font-size: 16px;
}

.tooltip {
    -fx-background-color: #2b84c2;
}

/*********************************************************************************
*
* APPLICATION WINDOW BUTTONS CSS
*
**********************************************************************************/


#applicationWindowCloseButton {
    /*-fx-border-width: 2px;
    -fx-border-color: #666666;*/
    -fx-background-color: none;
    -fx-graphic: url('../icons/close.png');
}
#applicationWindowCloseButton:hover {
    -fx-background-color: #e60000;
    -fx-graphic: url('../icons/closeHover.png');
}
#applicationWindowCloseButton:pressed {
    -fx-background-color: #ffb3b3;
}

#applicationWindowMinimizeButton {
    -fx-background-color: none;
    -fx-graphic: url('../icons/minimize.png');
}
#applicationWindowMinimizeButton:hover {
    -fx-background-color: #e6e6e6;
}
#applicationWindowMinimizeButton:pressed {
    -fx-background-color: #f0f0f0;
}

#applicationWindowRestoreButton {
    /*-fx-color: paleturquoise;*/
    -fx-background-color: none;
    -fx-graphic: url('../icons/maximizeUp.png');
}
#applicationWindowRestoreButton:hover {
    -fx-background-color: #e6e6e6;
}
#applicationWindowRestoreButton:pressed {
    -fx-background-color: #f0f0f0;
}

#applicationWindowRestoreButton:selected {
    -fx-background-color: none;
    -fx-graphic: url('../icons/maximizeDown.png');
}
#applicationWindowRestoreButton:selected:hover {
    -fx-background-color: #e6e6e6;
    -fx-graphic: url('../icons/maximizeDown.png');
}
#applicationWindowRestoreButton:selected:pressed {
    -fx-background-color: #f0f0f0;
}

/*
* APPLICATION WINDOW BUTTONS CSS END
*/


/*********************************************************************************
*
* TAB PANE
*
**********************************************************************************/

.tab-pane > .tab-header-area > .headers-region > .tab:top {  
    -fx-padding: 14 30 0 10;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: #f5f5f0;  
    -fx-pref-height: 70px;    
    -fx-background-insets: 0;  
}  

.tab-pane > .tab-header-area > .headers-region {  
    -fx-padding: 10 0 0 0;
}
  
.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-border-color: #cccccc #cccccc #ffffff #cccccc;
    -fx-border-width: 0 1 0 1;     
    -fx-background-color: white;  
    -fx-background-insets:  0;  
}  

.tab-pane > .tab-header-area > .headers-region > .tab:top:hover {  
    -fx-background-color: #e6e6e6;    
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top:hover {  
    -fx-background-color: #ffffff;    
}  
  
.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #cccccc;
    /*-fx-padding: 0 0 10 0; */
    -fx-alignment: CENTER;  
    -fx-text-fill: #a6a6a6;  
    -fx-font-weight: bold;  
}  
  
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label { 
    -fx-alignment: CENTER;  
    -fx-text-fill: #a6a6a6;
    -fx-padding: 0 0 0 20;
    /*-fx-font-weight: bold;  */
}  
  
.tab-pane > .tab-header-area > .tab-header-background {  
    -fx-background-color: #f5f5f0;  
    -fx-border-color: #cccccc;  
    -fx-border-width: 0 0 1 0;  
    -fx-background-insets: 0;  
    -fx-pref-height: 45px;    
}  

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top > .tab-container > .focus-indicator {
    -fx-border-width: 0;
}

.tab-pane:top {
    -fx-background-color: #ffffff;
    /*-fx-font-family: Arial;*/
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 -1;  /* removing default indentation before the first tab. -1 so that first tabs left border wouldnt be 2px wide while selected */
}

#mosaicWindowTitleLabel {
    -fx-font-size: 15px;
    -fx-text-fill: #494949;
}

.menu-bar {
    -fx-background-color: #f5f5f0;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #d9d9d9;
}

.menu-bar {
    -fx-pref-height: 30px;
}

.menu-bar > .container {
    -fx-padding: 0 0 0 0;
}

.menu-bar { /* The menu bar itself */ 
}

.menu { /* The File menu item */
    -fx-margin: 0;
    -fx-padding: 5 10 5 10;
}
.menu:hover { /* The File menu item mousever */
    /*-fx-text-fill: white;*/
    -fx-background-color: #e6e6e6;
}

.menu:showing { /* menu when it's being shown (activated)*/
    -fx-background-color: #e6e6e6;
}
.menu .label { /* Styles the text on a menu item */ 
    -fx-text-fill: #666666;
}

.menu:showing .label { /* Styles the text on a menu item when activated */
   
}

.menu .label:hover { /* Styles the text on a menu item */ 
    
}

.menu-button,
.menu-item {
    -fx-text-fill: #666666;
}

.menu-button:hover,
.menu-item:hover {
    -fx-background-color: #e6e6e6;
}

.menu-button:showing, 
.menu-item:showing {
    -fx-background-color: #e6e6e6;
}

/*Menu Items*/
.menu-item:focused {
    -fx-background-color: #e6e6e6;
}

.menu-item .label {
    -fx-text-fill: #666666;
}

.tool-bar:horizontal {
    -fx-background-color: none;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #cccccc;
}

/*
*
* END TAB PANE
*
*/


/*********************************************************************************
*
* EXPLORER TAB
*
**********************************************************************************/

/* explorer tab main menu anchor */
#explorerMainMenuAnchorPane {
    -fx-background-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #cccccc;
}

/* explorer treeView */

#explorerTreeView {
    -fx-border-width: 1;
    -fx-border-color: #cccccc;
}

#explorerTreeView, .tree-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}
#explorerTreeView  .tree-cell:selected {
    -fx-background-color: #99ccff;
    -fx-font-weight: bold ;
}

/* Tree expand arrow CSS */
#explorerTreeView > .virtual-flow> .clipped-container > .sheet > .tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: #7d7d7d;
    -fx-border-width: 1;
    -fx-border-color: #7d7d7d;
}
#explorerTreeView > .virtual-flow> .clipped-container > .sheet > .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-color: #7d7d7d;
    -fx-border-width: 1;
    -fx-border-color: #7d7d7d;
}
#explorerTreeView > .virtual-flow> .clipped-container > .sheet > .tree-cell:selected .tree-disclosure-node .arrow {
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: white;
}


/* The main scrollbar CSS class of ListView */
#explorerTreeView .scroll-bar:horizontal ,
#explorerTreeView  .scroll-bar:vertical{
    -fx-background-color:transparent;
}
 
/* The increment and decrement button CSS class of scrollbar */
#explorerTreeView .increment-button ,#explorerTreeView .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
    -fx-border-width: 1;
    -fx-background-insets: 0, 0, 0;
}
 
/* The main scrollbar **track** CSS class  */
#explorerTreeView .scroll-bar:horizontal .track ,
#explorerTreeView .scroll-bar:vertical .track{
    -fx-background-color: #f5f5f0;
    /*-fx-border-color:derive(gray,80%);*/
    -fx-background-radius: 0em;
}
 
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
#explorerTreeView .scroll-bar:horizontal .thumb,
#explorerTreeView .scroll-bar:vertical .thumb {
    -fx-background-color: #f9f9f9;
    -fx-border-color:derive(gray,80%);
    -fx-border-width: 1;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
 
}
 
/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */
 
/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
#explorerTreeView.scroll-bar .thumb:hover,
#explorerTreeView .scroll-bar .thumb:pressed{
    -fx-background-color: #99ccff;
}
 
#explorerTreeView .increment-button:hover ,#explorerTreeView .decrement-button:hover {
    -fx-background-color: #99ccff;
}




#newScreenshotReceived {
    -fx-graphic: url('../icons/newMessage.png');
}
#newScreenshotReceived:hover {
    -fx-graphic: url('../icons/newMessageHover.png');
}
#newScreenshotReceived:pressed {
    -fx-background-color: #f0f0f0;
}
#newScreenshotReceivedTooltip {
    -fx-background-color: #2b84c2;
}

#sendScreenshotButton {
    -fx-graphic: url('../icons/screenshot.png');
}
#sendScreenshotButton:hover {
    -fx-graphic: url('../icons/screenshotHover.png');
}
#sendScreenshotButton:pressed {
    -fx-background-color: #f0f0f0;
}
#sendScreenshotButtonTooltip {
    -fx-background-color: #2b84c2;
}


/*
* explorer tab buttons
*/

/* newFolder button */
#explorerBtn1 {
    -fx-graphic: url('../icons/newFolder.png');
}
#explorerBtn1:hover {
    -fx-graphic: url('../icons/newFolderHover.png');
}
#explorerBtn1:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn1Tooltip {
    -fx-background-color: #2b84c2;
}

/* delete button */
#explorerBtn2 {
    -fx-graphic: url('../icons/delete.png');
}
#explorerBtn2:hover {
    -fx-graphic: url('../icons/deleteHover.png');
}
#explorerBtn2:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn2Tooltip {
    -fx-background-color: #2b84c2;
}

/* rename button */
#explorerBtn3 {
    -fx-graphic: url('../icons/rename.png');
}
#explorerBtn3:hover {
    -fx-graphic: url('../icons/renameHover.png');
}
#explorerBtn3:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn3Tooltip {
    -fx-background-color: #2b84c2;
}

/* open button */
#explorerBtn4 {
    -fx-graphic: url('../icons/open.png');
}
#explorerBtn4:hover {
    -fx-graphic: url('../icons/openHover.png');
}
#explorerBtn4:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn4Tooltip {
    -fx-background-color: #2b84c2;
}

/* copy button */
#explorerBtn5 {
    -fx-graphic: url('../icons/copy.png');
}
#explorerBtn5:hover {
    -fx-graphic: url('../icons/copyHover.png');
}
#explorerBtn5:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn5Tooltip {
    -fx-background-color: #2b84c2;
}
/* move button */
#explorerBtn6 {
    -fx-graphic: url('../icons/move.png');
}
#explorerBtn6:hover {
    -fx-graphic: url('../icons/moveHover.png');
}
#explorerBtn6:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn6Tooltip {
    -fx-background-color: #2b84c2;
}

/* addToAlbum button */
#explorerBtn7 {
    -fx-graphic: url('../icons/addToAlbum.png');
}
#explorerBtn7:hover {
    -fx-graphic: url('../icons/addToAlbumHover.png');
}
#explorerBtn7:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn7Tooltip {
    -fx-background-color: #2b84c2;
}

/* fullscreen button */
#explorerBtn8 {
    -fx-graphic: url('../icons/fullscreen.png');
}
#explorerBtn8:hover {
    -fx-graphic: url('../icons/fullscreenHover.png');
}
#explorerBtn8:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn8Tooltip {
    -fx-background-color: #2b84c2;
}
/* home button */
#explorerHomeButton {
    -fx-graphic: url('../icons/home.png');
}
#explorerHomeButton:hover {
    -fx-graphic: url('../icons/homeHover.png');
}
#explorerHomeButton:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerHomeButtonTooltip {
    -fx-background-color: #2b84c2;
}

#explorerImagePaneToggleButton {
    -fx-background-color: none;
    -fx-graphic: url('../icons/imagePanelToggleOn.png');
}

#explorerImagePaneToggleButton:selected {
    -fx-background-color: none;
    -fx-graphic: url('../icons/imagePanelToggleOff.png');
}

/*
*
* END EXPLORER TAB
*
*/



/*********************************************************************************
*
* ALBUMS TAB
*
**********************************************************************************/

/* albums flow panes */
#imagesFlowPane {
    -fx-padding: 10 10 10 10;
    -fx-background-color: white;
    /*-fx-border-width: 1;
    -fx-border-color: #cccccc;*/
}
#albumsFlowPane {
    -fx-padding: 10 10 10 10;
    -fx-background-color: white;
    /*-fx-border-width: 1;
    -fx-border-color: #cccccc;*/
}

/* albums scroll pane */
#albumsScrollPane {
    -fx-border-width: 1;
    -fx-border-color: #cccccc;
    -fx-background-color: white;
}

.scroll-pane {
    -fx-background: rgb(255, 255, 255);
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 1;
    -fx-border-color: #cccccc;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

/* The main scrollbar CSS class of ListView */
.scroll-pane .scroll-bar:horizontal ,
.scroll-pane  .scroll-bar:vertical{
    -fx-background-color:transparent;
}
 
/* The increment and decrement button CSS class of scrollbar */
.scroll-pane .increment-button ,#explorerTreeView .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
    -fx-border-width: 1;
    -fx-background-insets: 0, 0, 0;
}
 
/* The main scrollbar **track** CSS class  */
.scroll-pane .scroll-bar:horizontal .track ,
.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: #f5f5f0;
    /*-fx-border-color:derive(gray,80%);*/
    -fx-background-radius: 0em;
}
 
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #f9f9f9;
    -fx-border-color:derive(gray,80%);
    -fx-border-width: 1;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
 
}
 
/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */
 
/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.scroll-pane.scroll-bar .thumb:hover,
.scroll-pane .scroll-bar .thumb:pressed{
    -fx-background-color: #99ccff;
}
 
.scroll-pane .increment-button:hover ,#explorerTreeView .decrement-button:hover {
    -fx-background-color: #99ccff;
}


/* explorer tab main menu anchor */
#albumsMainMenuAnchorPane {
    -fx-background-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #cccccc;
}

/* albums tab main content button selected styles */
.albumNotSelected {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-background-color: none;
    -fx-graphic: url('../icons/album.png');
}

.albumNotSelected:focused {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: #3399ff;
    -fx-background-color: #e5f2ff;
    -fx-graphic: url('../icons/albumHover.png');
}
/*.albumNotSelected:focus {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: #3399ff;
    -fx-background-color: #e5f2ff;
    -fx-graphic: url('../icons/albumHover.png');
}*/

/*.albumSelected {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: #3399ff;
    -fx-background-color: #e5f2ff;
    -fx-graphic: url('../icons/albumHover.png');
}*/

/* albums tab main content images selected styles */
.imageNotSelected {
    -fx-padding: 10 5 5 5;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: white;
}
.imageNotSelected:focused {
    -fx-background-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: #3399ff;
    -fx-background-color: #e5f2ff;
}
/*.imageNotSelected:focus {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: #3399ff;
    -fx-background-color: #e5f2ff;
}*/

.imageSelected {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: #3399ff;
    -fx-background-color: #e5f2ff;
}
.imageSelected:focused {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: #3399ff;
    -fx-background-color: #e5f2ff;
}


/*
* albums tab buttons
*/

/* import button */
#albumsImport {
    -fx-graphic: url('../icons/importToAlbum.png');
}
#albumsImport:hover {
    -fx-graphic: url('../icons/importToAlbumHover.png');
}
#albumsImport:pressed {
    -fx-background-color: #f0f0f0;
}
#albumsImportTooltip {
    -fx-background-color: #2b84c2;
}

/* newAlbum button */
#albumsNewAlbum {
    -fx-graphic: url('../icons/newAlbum.png');
}
#albumsNewAlbum:hover {
    -fx-graphic: url('../icons/newAlbumHover.png');
}
#albumsNewAlbum:pressed {
    -fx-background-color: #f0f0f0;
}
#albumsNewAlbumTooltip {
    -fx-background-color: #2b84c2;
}

/* delete button */
#albumsDelete {
    -fx-graphic: url('../icons/delete.png');
}
#albumsDelete:hover {
    -fx-graphic: url('../icons/deleteHover.png');
}
#albumsDelete:pressed {
    -fx-background-color: #f0f0f0;
}
#albumsDeleteTooltip {
    -fx-background-color: #2b84c2;
}

/* rename button */
#albumsRename {
    -fx-graphic: url('../icons/rename.png');
}
#albumsRename:hover {
    -fx-graphic: url('../icons/renameHover.png');
}
#albumsRename:pressed {
    -fx-background-color: #f0f0f0;
}
#albumsRenameTooltip {
    -fx-background-color: #2b84c2;
}

/* open button */
#albumsOpen {
    -fx-graphic: url('../icons/open.png');
}
#albumsOpen:hover {
    -fx-graphic: url('../icons/openHover.png');
}
#albumsOpen:pressed {
    -fx-background-color: #f0f0f0;
}
#albumsOpenTooltip {
    -fx-background-color: #2b84c2;
}

/* copy button */
#albumsCopy {
    -fx-graphic: url('../icons/copy.png');
}
#albumsCopy:hover {
    -fx-graphic: url('../icons/copyHover.png');
}
#albumsCopy:pressed {
    -fx-background-color: #f0f0f0;
}
#albumsCopyTooltip {
    -fx-background-color: #2b84c2;
}
/* move button */
#albumsMove {
    -fx-graphic: url('../icons/move.png');
}
#albumsMove:hover {
    -fx-graphic: url('../icons/moveHover.png');
}
#albumsMove:pressed {
    -fx-background-color: #f0f0f0;
}
#albumsMoveTooltip {
    -fx-background-color: #2b84c2;
}

/* fullscreen button */
#albumsFullscreen {
    -fx-graphic: url('../icons/fullscreen.png');
}
#albumsFullscreen:hover {
    -fx-graphic: url('../icons/fullscreenHover.png');
}
#albumsFullscreen:pressed {
    -fx-background-color: #f0f0f0;
}
#albumsFullscreenTooltip {
    -fx-background-color: #2b84c2;
}

/* back button */
#albumsBackButton {
    -fx-graphic: url('../icons/backArrow.png');
}
#albumsBackButton:hover {
    -fx-graphic: url('../icons/backArrowHover.png');
}
#albumsBackButton:pressed {
    -fx-background-color: #f0f0f0;
}
#albumsBackButtonTooltip {
    -fx-background-color: #2b84c2;
}

#albumsImagePaneToggleButton {
    -fx-background-color: none;
    -fx-graphic: url('../icons/imagePanelToggleOn.png');
}

#albumsImagePaneToggleButton:selected {
    -fx-background-color: none;
    -fx-graphic: url('../icons/imagePanelToggleOff.png');
}


/*
* albums navigation label
*/

#albumsNavigationLabel {
    -fx-text-fill: #7d7d7d;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#albumsSplitPaneRightAnchor .label {
    -fx-text-fill: #7d7d7d;
    -fx-font-size: 15px;
}

#albumNameLabel {
    -fx-font-weight: bold;
}

/*
*
* END ALBUMS TAB
*
*/

/*********************************************************************************
*
* MESSAGES TAB
*
**********************************************************************************/


/* messages tab main menu anchor */
#messagesMainMenuAnchorPane {
    -fx-background-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #cccccc;
}

#messagesImagePaneToggleButton {
    -fx-background-color: none;
    -fx-graphic: url('../icons/imagePanelToggleOn.png');
}

#messagesImagePaneToggleButton:selected {
    -fx-background-color: none;
    -fx-graphic: url('../icons/imagePanelToggleOff.png');
}

#messagesListView {
    -fx-font-family: Consolas, Lucida Console, Palatino, monospace;
}

/* open button */
#messagesOpenButton {
    -fx-graphic: url('../icons/open.png');
}
#messagesOpenButton:hover {
    -fx-graphic: url('../icons/openHover.png');
}
#messagesOpenButton:pressed {
    -fx-background-color: #f0f0f0;
}
#messagesOpenButtonTooltip {
    -fx-background-color: #2b84c2;
}

/* delete button */
#messagesDeleteButton {
    -fx-graphic: url('../icons/delete.png');
}
#messagesDeleteButton:hover {
    -fx-graphic: url('../icons/deleteHover.png');
}
#messagesDeleteButton:pressed {
    -fx-background-color: #f0f0f0;
}
#messagesDeleteButtonTooltip {
    -fx-background-color: #2b84c2;
}
/*
*
* END MESSSAGES TAB
*
*/


/*********************************************************************************
*
* LOGIN AND VALIDATION SCREENS
*
**********************************************************************************/

#validationScreenAnchorPane {
    -fx-border-width: 2;
    -fx-border-color: #a6a6a6;
    -fx-background-image: url('../icons/validationBackground.png');
}
#validationScreenValidateButton {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #7b7b7b;
    -fx-border-width: 1;
    -fx-border-color: #a6a6a6;
}
#validationScreenValidateButton:hover {
    -fx-background-color: #e6e6e6;
}

#validationScreenQuitButton {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #7b7b7b;
    -fx-border-width: 1;
    -fx-border-color: #a6a6a6;
}
#validationScreenQuitButton:hover {
    -fx-background-color: #e6e6e6;
}

#loginScreenAnchorPane {
    -fx-border-width: 2;
    -fx-border-color: #a6a6a6;
    -fx-background-image: url('../icons/loginBackground.png');
    /*-fx-background-color: #cccccc;*/
}

#loginScreenLoginButton {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #7b7b7b;
    -fx-border-width: 1;
    -fx-border-color: #a6a6a6;
}
#loginScreenLoginButton:hover {
    -fx-background-color: #e6e6e6;
}

#loginScreenQuitButton {
    /*-fx-background-color: #cccccc;*/
    -fx-text-fill: #7b7b7b;
    /*-fx-border-width: 1;*/
    /*-fx-border-color: #a6a6a6;*/
}
#loginScreenQuitButton:hover {
    -fx-cursor: hand;
    -fx-font-weight: bold;
    /*-fx-text-fill: white;*/
    /*-fx-background-color: #d9d9d9;*/
}
.label {
    -fx-font-family: Helvetica, sans-serif;
}

#validationScreenWarningLabel {
    -fx-text-fill: #7b7b7b;
    -fx-font-size: 18px;
}

#validationWelcomeLabel {
    -fx-text-fill: #7b7b7b;
    -fx-font-size: 30px;
}

#validationKeyLabel {
    -fx-text-fill: #7b7b7b;
    -fx-font-size: 18px;
}

#loginScreenUsernameLabel {
    -fx-text-fill: #7b7b7b;
    -fx-font-size: 18px;
}

#loginScreenHelloLabel {
    -fx-text-fill: #7b7b7b;
    -fx-font-size: 24px;
}