.button {
    -fx-background-color: none;
    -fx-border-width: 0;
}

/*
*
* EXPLORER TAB
*
*/

/* explorer tab main menu anchor */
#explorerMainMenuAnchorPane {
    -fx-background-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #cccccc;
}

/* explorer treeView */

#explorerTreeView, .tree-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}
#explorerTreeView  .tree-cell:selected {
    -fx-background-color: #99ccff;
    -fx-font-weight: bold ;
}

/* Tree expand arrow CSS */
#explorerTreeView > .virtual-flow> .clipped-container > .sheet > .tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: #7d7d7d;
    -fx-border-width: 1;
    -fx-border-color: #7d7d7d;
}
#explorerTreeView > .virtual-flow> .clipped-container > .sheet > .tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-color: #7d7d7d;
    -fx-border-width: 1;
    -fx-border-color: #7d7d7d;
}
#explorerTreeView > .virtual-flow> .clipped-container > .sheet > .tree-cell:selected .tree-disclosure-node .arrow {
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: white;
}


/* The main scrollbar CSS class of ListView */
#explorerTreeView .scroll-bar:horizontal ,
#explorerTreeView  .scroll-bar:vertical{
    -fx-background-color:transparent;
}
 
/* The increment and decrement button CSS class of scrollbar */
#explorerTreeView .increment-button ,#explorerTreeView .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
    -fx-border-width: 1;
    -fx-background-insets: 0, 0, 0;
}
 
/* The main scrollbar **track** CSS class  */
#explorerTreeView .scroll-bar:horizontal .track ,
#explorerTreeView .scroll-bar:vertical .track{
    -fx-background-color: #f5f5f0;
    /*-fx-border-color:derive(gray,80%);*/
    -fx-background-radius: 0em;
}
 
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
#explorerTreeView .scroll-bar:horizontal .thumb,
#explorerTreeView .scroll-bar:vertical .thumb {
    -fx-background-color: #f9f9f9;
    -fx-border-color:derive(gray,80%);
    -fx-border-width: 1;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
 
}
 
/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */
 
/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
#explorerTreeView.scroll-bar .thumb:hover,
#explorerTreeView .scroll-bar .thumb:pressed{
    -fx-background-color: #99ccff;
}
 
#explorerTreeView .increment-button:hover ,#explorerTreeView .decrement-button:hover {
    -fx-background-color: #99ccff;
}


/*
* explorer tab buttons
*/

/* newFolder button */
#explorerBtn1 {
    -fx-graphic: url('../icons/newFolder.png');
}
#explorerBtn1:hover {
    -fx-graphic: url('../icons/newFolderHover.png');
}
#explorerBtn1:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn1Tooltip {
    -fx-background-color: #2b84c2;
}

/* delete button */
#explorerBtn2 {
    -fx-graphic: url('../icons/delete.png');
}
#explorerBtn2:hover {
    -fx-graphic: url('../icons/deleteHover.png');
}
#explorerBtn2:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn2Tooltip {
    -fx-background-color: #2b84c2;
}

/* rename button */
#explorerBtn3 {
    -fx-graphic: url('../icons/rename.png');
}
#explorerBtn3:hover {
    -fx-graphic: url('../icons/renameHover.png');
}
#explorerBtn3:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn3Tooltip {
    -fx-background-color: #2b84c2;
}

/* open button */
#explorerBtn4 {
    -fx-graphic: url('../icons/open.png');
}
#explorerBtn4:hover {
    -fx-graphic: url('../icons/openHover.png');
}
#explorerBtn4:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn4Tooltip {
    -fx-background-color: #2b84c2;
}

/* copy button */
#explorerBtn5 {
    -fx-graphic: url('../icons/copy.png');
}
#explorerBtn5:hover {
    -fx-graphic: url('../icons/copyHover.png');
}
#explorerBtn5:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn5Tooltip {
    -fx-background-color: #2b84c2;
}
/* move button */
#explorerBtn6 {
    -fx-graphic: url('../icons/move.png');
}
#explorerBtn6:hover {
    -fx-graphic: url('../icons/moveHover.png');
}
#explorerBtn6:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn6Tooltip {
    -fx-background-color: #2b84c2;
}

/* addToAlbum button */
#explorerBtn7 {
    -fx-graphic: url('../icons/addToAlbum.png');
}
#explorerBtn7:hover {
    -fx-graphic: url('../icons/addToAlbumHover.png');
}
#explorerBtn7:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn7Tooltip {
    -fx-background-color: #2b84c2;
}

/* fullscreen button */
#explorerBtn8 {
    -fx-graphic: url('../icons/fullscreen.png');
}
#explorerBtn8:hover {
    -fx-graphic: url('../icons/fullscreenHover.png');
}
#explorerBtn8:pressed {
    -fx-background-color: #f0f0f0;
}
#explorerBtn8Tooltip {
    -fx-background-color: #2b84c2;
}

/*
*
* END EXPLORER TAB
*
*/